@font-face {
  font-family: 'GothamPro-Medium';
  src: url('GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('GothamPro-Medium.woff') format('woff'),
  url('GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}




@font-face {
  font-family: 'GothamPro-Bold';
  src: url('GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('GothamPro-Bold.woff') format('woff'),
  url('GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: 'GothamPro-Black';
  src: url('GothamPro-Black.eot');
  src: url('GothamPro-Black.eot?#iefix') format('embedded-opentype'),
  url('GothamPro-Black.woff') format('woff'),
  url('GothamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src:  url('GothamPro.ttf') format('truetype'),
  url('GothamPro.eot?#iefix') format('embedded-opentype'),
  url('GothamPro.woff') format('woff');
  font-weight:normal;
  font-style: normal;
  font-display:swap;
}


@font-face {
  font-family: 'GothamPro-Light';
  src: url('GothamPro-Light.ttf') format('truetype'),
  url('GothamPro-Light.woff') format('woff'),
  url('GothamPro-Light.eot?#iefix')  format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
  font-display:swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display:swap;
}

