.menu {
  width: 100%;
  position: relative;
  z-index: 20;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: max-content;
    //transition: opacity 1s, width 1.5s ease;
    text-align: end;
    margin-left: 20px;
  }

  &__link {
    color: $paleGrey;
    font-family: 'GothamPro-Light', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    line-height: 0.95;
    display: inline-block;
    white-space: nowrap;
    width: inherit;
  }
}

.menu.active {
  display: block !important;
  position: absolute;
  height: 100vh;
  top: 60px;
  background-color: $darkGrey;

  & .menu__list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  }

  & .menu__item {
    width: 100%;
    margin-bottom: 10px;
  }

  & .menu__link {
    font-size: 25px;
  }

}

.menu__item--hidden {
  width: 0;
  visibility: hidden;
  opacity: 0;
  margin-left: 0;
  display: none;
}

.menu-show {
  animation: widthShow 2s linear forwards;
}

.menu-hide {
  animation: widthHide 2s ease-in-out forwards;
}

.menu-const {
  animation: widthConst 2s ease-in-out forwards;
}

.mobile-menu {
  cursor: pointer;
  height: 20px;
  position: relative;
  width: 32px;
  display: none;

  &.is {
    &-active {
      .mobile-menu__line {
        &--top {
          top: 10px;
          transform: rotate(45deg);
        }

        &--middle {
          opacity: 0;
        }

        &--bottom {
          top: 10px;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__line {
    background-color: $white;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all linear 0.4s;
    width: 100%;

    &--top {
      top: 0;
    }

    &--middle {
      top: 9px;
    }

    &--bottom {
      top: 18px;
    }
  }
}
