.contact {
  padding: 40px 0 80px;
  background: $darkGrey;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    color: $paleGrey;
    font-family: 'GothamPro-Bold', sans-serif;
    margin-bottom: 65px;
  }

  &__text {
    padding-top: 40px;
    & h4 {
      font-size: 25px;
      font-family: 'GothamPro-Black', sans-serif;
      margin-bottom: 25px;
      padding-left: 40px;
    }
  }

  &__geo,
  &__phone {
    display: flex;
    color: $paleGrey;

    & img {
      max-width: 22px;
      max-height: 35px;
      margin-right: 20px;
    }
  }

  &__geo {
    margin-bottom: 30px;

    & p:last-child {
      font-size: 10px;
      margin-top: 10px;
    }
  }

  &__phone {
    font-size: 25px;
  }

  &__image {
    padding-top: 40px;
    & img {
      border-radius: 50%;
      width: 100%;
      max-width: 488px;
      max-height: 488px;
      object-fit: cover;
    }
  }
}
