.menu {
  width: 100%;
  position: relative;
  z-index: 20;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 100%;
    //transition: opacity 1s, width 1.5s ease;
    text-align: end;


  }

  &__link {
    color: $paleGrey;
    font-family: 'Gotham Pro Light', sans-serif;
    font-size: 14px;
    line-height: 0.95;
    display: inline-block;
  }


}

.menu.active {
  display: block!important;
  position: absolute;
  height: 100vh;
  top: 60px;
  background-color: $darkGrey;
  & .menu__list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  }

  & .menu__item {
    margin-bottom: 10px;
    //transition: width 2s linear;

  }

  & .menu__link {
    font-size: 25px;
  }


}

.menu__item--hidden {
  visibility: hidden;
  position: absolute;
  z-index: -25!important;
  top: 0;
  left: 0;
  opacity: 0;
  //overflow: hidden;
}

.menu-show {
  animation: widthShow 2s linear forwards;
}

.menu-hide {
  animation: widthHide 2s linear forwards;
}

.mobile-menu {
  cursor: pointer;
  height: 20px;
  position: relative;
  width: 32px;
  display: none;
  &.is {
    &-active {
      .mobile-menu__line {
        &--top {
          top: 10px;
          transform: rotate(45deg);
        }
        &--middle { opacity: 0; }
        &--bottom {
          top: 10px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  &__line {
    background-color: $white;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all linear .4s;
    width: 100%;
    &--top { top: 0; }
    &--middle { top: 9px; }
    &--bottom { top: 18px; }
  }
}
