.wake {
  background: $white;
  padding-top: 80px;
  padding-bottom: 40px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
  }

  &__text {
    max-width: 555px;
    font-family: 'GothamPro-Light',sans-serif;
    color:$darkGrey;

    & strong {
      font-weight: 700;
      font-family: 'GothamPro-Bold',sans-serif;
    }
  }

  &__image {
    max-width: 440px;
    position: relative;
    padding: 10px 0;

    & .wake__image-bg {
      border-radius: 50%;
    }

    &::before {
      position: absolute;
      z-index: 2;
      content: '';
      width: 34%;
      height:34%;
      border-radius: 50%;
      background: $white;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    & .wake__image-trengl {
      position: absolute;
      z-index: 3;
      top: 45%;
      left: 50%;
      width: 70%;

      transform: translate(-50%,-50%);
    }


  }
}
