@import "../static/css/normalize.css";
@import "../static/css/fonts/fonts.css";
//@import "fonts";
@import "variables";
@import "header";
@import "blocks/menu";
@import "blocks/accordion-format";
@import "mission";
@import "strength";
@import "team";
@import "sleep";
@import "wake";
@import "model";
@import "services";
@import "work-format";
@import "animation";
@import "catchy";
@import "reviews";
@import "contact";
@import "footer";


:root {
  font-size: 1em;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1460px;
  margin: 0 auto;
  background: $white;
  font-family: 'GothamPro', Arial, sans-serif;
  line-height: 1;
  height: 100%;
}

svg {
  max-width: 100%;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h3,
h2 {
  font-size: 41px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.text--green {
  color: $green;
}



//.text--bold {
//  font-weight: 500;
//}

.text--light {
  font-family: 'GothamPro-Light', sans-serif;
  font-weight: 300;
}

.btn {
  display: block;
  background: linear-gradient(180deg, #00E190 0%, #009761 100%);
  border: 1px solid #00E190;
  border-radius: 10px;
  margin: 0 auto;
  padding: 19px 10px 20px;
  color: $white;
}

@import "media";
